<!-- Config file for the game -->

<config>
  <app>
    <title>Wide Whip</title>
    <organization>UPC</organization>
    <save_file_root>XMLs/save_file</save_file_root>
    <framerate_cap value="30"/>
    <dt_multiplied value="25"/>
  </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <gui>
    <atlas file="gui/atlas1.png"/>
  </gui>

  <map>
    <folder>maps/</folder>
  </map>


  <collision>
    <alpha_debug value ="100"/>
  </collision>
  <entity>
    <player>

      <time_fade time_to_do_fade_to_black ="0.5f" time_to_jump="0.5f" time_in_fade="1.0f"/>
      <rect_limit_camera_border x="200" y="150" w="450" h="400"/>
      <jump_force value="25"/>
      <gravity value="2.5f"/>
      <texture>player/player.png</texture>
      <speed value ="225"/>
      <max_speed value="50" />
      <min_speed value="-25" />
      <dash_force value="25"/>
      <resistance_dash value="2.f"/>
      <map_left_offset_x value="200"/>
      <jump_clinged_force value="20"/>
      <resistance_jump_clinged value="2.f"/>
      <offset_value value="2"/>

      <audios>
        <jump>audio/fx/jump.wav</jump>
        <dash>audio/fx/dash.wav</dash>
        <death_start>audio/fx/start_death.wav</death_start>
        <death_finish>audio/fx/finish_death.wav</death_finish>
      </audios>


      <animations>

        <idle speed="0.2f" loop="true">
          <frame x="0"   y="0" w ="47" h ="65"/>
          <frame x="47"  y="0" w ="47" h ="65"/>
          <frame x="94"  y="0" w ="47" h ="65"/>
          <frame x="141" y="0" w ="47" h ="65"/>
        </idle>

        <jump speed="0.1f" loop="false">
          <frame x="141" y="67" w ="47" h ="65"/>
          <frame x="188" y="67" w ="47" h ="65"/>
          <frame x="235" y="67" w ="47" h ="65"/>
          <frame x="282" y="67" w ="47" h ="65"/>
        </jump>

        <walk speed="0.2f" loop="true">
          <frame x="0"   y="130" w ="47" h ="65"/>
          <frame x="47"  y="130" w ="47" h ="65"/>
          <frame x="94"  y="130" w ="47" h ="65"/>
          <frame x="141" y="130" w ="47" h ="65"/>
          <frame x="188" y="130" w ="47" h ="65"/>
          <frame x="235" y="130" w ="47" h ="65"/>
        </walk>

        <attack speed="0.2f" loop="false">
          <frame x="0"   y="0" w ="47" h ="65"/>
          <frame x="12"   y="0" w ="47" h ="65"/>
          <frame x="24"   y="0" w ="47" h ="65"/>
          <frame x="36"   y="0" w ="47" h ="65"/>
        </attack>

        <death speed="0.5f" loop="true">
          <frame x="0"   y="195" w ="47" h ="65"/>
          <frame x="47"  y="195" w ="47" h ="65"/>
          <frame x="97"  y="195" w ="47" h ="65"/>
          <frame x="141" y="195" w ="47" h ="65"/>
        </death>

        <dash speed="0.8f" loop="true">
          <frame x="0"   y="260" w ="47" h ="65"/>
          <frame x="47"  y="260" w ="47" h ="65"/>
          <frame x="94"  y="260" w ="47" h ="65"/>
          <frame x="141" y="260" w ="47" h ="65"/>
          <frame x="188" y="260" w ="47" h ="65"/>
          <frame x="235" y="260" w ="47" h ="65"/>
        </dash>

        <climb speed="0.1f" loop="false">
          <frame x="0"   y="325" w ="47" h ="65"/>
        </climb>

        <fall speed="0.2f" loop="false">
          <frame x="188"  y="67" w ="47" h ="65"/>
          <frame x="235"  y="67" w ="47" h ="65"/>
          <frame x="282"  y="67" w ="47" h ="65"/>
        </fall>

      </animations>

    </player>

    <enemy>

      <texture_walker>enemies/walker/Slime.png</texture_walker>
      <texture_flyer>enemies/flyer/Bat.png</texture_flyer>
      <speed value ="100"/>
      <gravity value="2.5f"/>

      <animations>

        <idle speed="0.2f" loop="true">
          <frame x="0"   y="18" w ="94" h ="42"/>
          <frame x="96"   y="18" w ="94" h ="42"/>
          <frame x="192"   y="18" w ="94" h ="42"/>
          <frame x="288"   y="18" w ="94" h ="42"/>
        </idle>

        <walk speed="0.2f" loop="true">
          <frame x="384"   y="18" w ="94" h ="42"/>
          <frame x="480"   y="18" w ="94" h ="42"/>
          <frame x="576"   y="18" w ="94" h ="42"/>
          <frame x="672"   y="18" w ="94" h ="42"/>
        </walk>

        <idle_flyer speed="0.2f" loop="true">
          <frame x="0"   y="96" w ="64" h ="44"/>
          <frame x="64"   y="96" w ="64" h ="44"/>
          <frame x="128"   y="96" w ="64" h ="44"/>
          <frame x="192"   y="96" w ="64" h ="44"/>
          <frame x="256"   y="96" w ="64" h ="44"/>
        </idle_flyer>

        <walk_flyer speed="0.2f" loop="true">
          <frame x="0"   y="96" w ="64" h ="44"/>
          <frame x="64"   y="96" w ="64" h ="44"/>
          <frame x="128"   y="96" w ="64" h ="44"/>
          <frame x="192"   y="96" w ="64" h ="44"/>
          <frame x="256"   y="96" w ="64" h ="44"/>
        </walk_flyer>

      </animations>

      <audios>
        <slime_death>audio/fx/slime_death.wav</slime_death>
      </audios>

    </enemy>
  </entity>


  <scene>
    <levels>
      <level1>Level1.tmx</level1>
      <level2>Level2.tmx</level2>
    </levels>
    <time_in_fade value="2.f"/>
    
    <menu_music>audio/music/AViewFromEarth.ogg</menu_music>
    <start_game_sfx>audio/fx/start.wav</start_game_sfx>
    <button_hover_sfx>audio/fx/button_hover.wav</button_hover_sfx>
    <button_click_sfx>audio/fx/button_click.wav</button_click_sfx>
  </scene>

  <in_level>
    <music>audio/music/Resilience.ogg</music>
  </in_level>
  


</config>