<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
    <save_file_root>XMLs/save_file</save_file_root>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <map>
    <folder>maps/</folder>
  </map>


  <collision>
    <alpha_debug value ="100"/>
  </collision>
  <player>
   <!--  <state state="UNKNOWN"/>                 -->
   <!--  <position x="0" y="0"/>                  -->
   <!--  <speed x="1.0" y="1.0"/>                 -->
   <!--  <acceleration a="0.05"/>                 -->
   <!--  <spritesheet source="player/player.png"/>-->
   <!--  <animations pivot_x="5" pivot_y="7">     -->
   <!--    <idle speed="0.15" loop="true">        -->
   <!--      <frame x="0" y="0" w="24" h="24"/>   -->
   <!--    </idle>                                -->
   <!--  </animations>                            -->


    <time_fade time_to_do_fade_to_black ="1.0f" time_to_jump="0.5f" time_in_fade="2.0f"/>
    <rect_limit_camera_border x="100" y="150" w="450" h="400"/>
    <jump_force value="10"/>
    <gravity value="0.5f"/>
    <texture>player/player.png</texture>
    <speed value ="3"/>
    
  </player>

  <scene>
    <levels>
      <level1>map1.tmx</level1>
      <level2>mapping.tmx</level2>
    </levels>
    <time_in_fade value="2.f"/>
  </scene>

</config>