<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
    <save_file_root>XMLs/save_file</save_file_root>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <folder>xml/</folder>
  </player>

  <scene>
    <levels>
      <level1>map1.tmx</level1>
      <level2>mapping.tmx</level2>
    </levels>
    <time_in_fade value="2"/>
  </scene>

</config>